@{
    ViewBag.Title = "תנאי שימוש";
    Layout = MVC.Shared.Views._LayoutZero;
}

<div class="header padding10">
    <h1>תנאי שימוש קולולו</h1>
</div>
<div class="content padding30">

<h3>מהות השרות</h3>
<p>
קולולו הינה אפליקציה המשמשת לבחירה והאזנה של שירים על גבי האתרים Youtube  ו Facebook ובהתאם לתנאי השימוש שלהם (להלן: "האפליקציה"). השירות מוצע לכל גולשי אתר פייסבוק ויוטיוב (להלן: "משתמש").
</p>


<h2>האפליקציה</h2>
<p>האפליקציה מאפשרת למשתמש להוסיף שירים שברצונו לשתף, להצביע לשירים קיימים, לבנות רשימת השמעה חברתית (פלייליסט), לחפש שירים, לעקוב אחר הטעם המוזיקלי של החברים בפייסבוק, ולהמליץ לחברים על שירים ופלייליסטים קיימים.

באחריות המשתמש לוודא את התאמת הדפדפן בו הוא משתמש לשימוש באפליקציה.

קולולו רשאית לעדכן מעת לעת את דרישות הקדם עבור שימוש באפליקציה וזאת על פי שיקול דעתה המלא והבלעדי.
</p>

<h2>אחריות</h2>
<p>
 בנוסף לתנאי שימוש אלה יחולו תנאי השימוש המפורטים באתר פייסבוק FACEBOOK בכתובת  http://www.facebook.com/terms.php?ref=pf.
כמו כן, יחולו תנאי השימוש המפורטים באתר יוטיוב  Youtube בכתובת http://www.youtube.com/t/terms.
האפליקציה נסמכת על תוכנות מחשב שאינן בבעלות קולולו, ואשר אינן חסינות מכל טעות או תקלה. קולולו אינה מתחייבת כי השירות ייקוים ללא תקלות, שגיאות, נפילות או טעויות ולמשתמש לא יהיו כל טענה או תביעה כתוצאה מכך.
</p>


<h2>הגנת פרטיות</h2>
<p>קולולו מתחייבת שלא למסור את הפרטים האישיים של המשתמש לצדדים שלישיים בניגוד לדין. השימוש באפליקציה הינו בהתאם למדיניות הגנת פרטיות המפורטת במסמך תנאי השימוש ו/או מסמך מדיניות הגנת הפרטיות ככל שיהיו מעת לעת. קולולו מתחייבת לשמור את נתוני המשתמשים שהתקבלו מאתרים צד ג' על פי תנאי השימוש שלהם. בכך נכללים נתונים אישיים שמקורם באתר פייסבוק FACEBOOK שישמרו בהתאם להגדרות הפרטיות המופיעות בכתובת http://developers.facebook.com/policy/, כמו גם נתונים אישיים שמקורם מאתר יוטיוב Youtube כמופיע בכתובת http://www.youtube.com/t/privacy_at_youtube.

הנך מאפשר לקולולו לגשת לפרטים המבוקשים בעמוד הקישור של השירות לאתר פייסבוק (כגון: שם פרטי, תמונת פרופיל, רשימת חברים ו/או פרטיהם ו/או כל מידע אחר המבוקש במסגרת עמוד הקישור לאתר פייסבוק) והכל בכפוף לתנאי השימוש של אתר פייסבוק ובהתאם לתנאי שימוש אלה.
הפרטים המפורטים לעיל ישמשו את קולולו למטרות שיווקיות וסטטיסטיות ואין ולא תהיה למשתמש כל טענה, תביעה או דרישה כלפי קולולו בעניין זה.
</p>

<h2>שימוש הוגן</h2>
<p>במסגרת השירות קיימת האפשרות להגיב על שירים המוצגים באתר. המשתמש מצהיר ומתחייב, כי לא יפרסם בתגובה כל תוכן פוגעני ו/או תוכן המפר זכויות יוצרים ו/או הפוגע בפרטיותו של אדם כלשהו ו/או המשתמש בקטע הוידאו ו/או כל תוכן הנוגד כל דין.
קולולו תהא רשאית על פי שיקול דעתה המלא והבלעדי להפסיק את השירות ו/או למחוק באופן מיידי כל תגובה שהועלתה לאפליקציה ו/או לא לאשר העלאתה של תגובה כלשהי לאפליקציה ו/או להפסיק את השתתפותו של משתמש כלשהו באפליקציה לאלתר, בכל מקרה של חשש לשימוש לרעה או במקרה של חשש להפרת הוראות הדין וזאת ללא כל הודעה מראש.

השירים להם ניתן להאזין במסגרת האפליקציה מוגנים בזכויות יוצרים בהתאם לתנאי השימוש באתר יוטיוב. המשתמש מצהיר כי לא יעתיק ו/או יעביר ו/או ינסה לבצע פעולה מסוג זה ו/או ינסה לפתח מנגנון להעתקת שירים ו/או העברתם האפליקציה לכל מדיה ו/או גורם אחר שסותר את תנאי השימוש של האתר יוטיוב. בכל הפרה של סעיף זה ו/או חשש להפרתו, תהא רשאית קולולו על פי שיקול דעתה המלא והבלעדי להפסיק את השירות ו/או למחוק את חשבונו של כל משתמש ללא כל הודעה מראש.
</p>

<h2>שינויים באפליקציה והפסקת השירות</h2>
<p>
קולולו רשאית לשנות ו/או לעדכן, להוסיף או לגרוע האפליקציה או מהמידע הנמצא בה.
קולולו רשאית להפסיק בכל עת ולאלתר, מכל סיבה שהיא, לפי שיקול דעתה המוחלט והבלעדי, את האפליקציה ו/או לשנות את תנאיה, בהודעה אשר תתפרסם באתר קולולו. מוסכם כי הודעה כאמור תשמש הודעה מספיקה והולמת והמשתתפים מוותרים על כל טענה בנוגע לסיום או שינוי תנאי השירות כאמור ו/או כל שירות ו/או הטבה המוצעים במסגרת האפליקציה.

</p>

<h2>כללי</h2>
<p>
השימוש באפליקציה הינו באחריותו הבלעדית של המשתמש, וקולולו לא תישא באחריות לכל נזק (לרבות נזק בגוף) הפסד אובדן או הוצאה שיגרמו למי מהמשתתפים הקשור במישרין או בעקיפין עם האפליקציה ו/או השימוש בה מבלי לגרוע מכך את עובדיה ומנהליה. קולולו אינה אחראית בשום אופן, במפורש או במרומז, למידע המצוין באפליקציה או למידע שמתקבל באמצעות מהגורמים שהוגדרו לעיל ו/או מאתרי אינטרנט אחרים ו/או מרשת האינטרנט בכלל, לאמינותו ו/או לדיוקו ו/או לשמישותו ו/או לשימוש הנעשה במידע ו/או באפליקציה.

קולולו לא תהיה אחראית במקרה של תקלה באפליקציה שנמצא באתר בפייסבוק, ו/או תקלה אחרת באתר פייסבוק ו/או תקלה אחרת באתר יוטיוב ו/או סיבה אחרת שבעקבותיה לא יהיה ניתן להאזין לשירים ו/או בכל עניין אחר בנוגע לאפליקציה. 
בכל מקרה של סתירה ו/או אי התאמה בין מסמך זה לבין כל פרסום אחר, בכתב או בעל פה מכל סוג ומין, תגברנה הוראות מסמך זה והן אשר תקבענה. המודעות והפרסומים השונים הם לנוחות בלבד.
קולולו שומרת לעצמה את הזכות לפעול אך ורק על פי תנאי מסמך זה ו/או לשנות את תנאיו מפעם לפעם או להפסיק את השירות, כולו או חלקו, בכל עת, הכל לפי שיקול דעתה המוחלט והבלעדי ובכפוף לכל דין.
במידה וארעה תקלה מכל סוג שהוא במערכת אתר האינטרנט ו/או במאגרי המידע, שחיבלה באופן כלשהו בקיום ההליך התקין של האפליקציה, לא יהווה הדבר בסיס לכל תביעה או טענה כלשהי כלפי קולולו ו/או כל גורם אחר הקשור בשירות, במישרין ו/או בעקיפין.
הדין החל על הפעילות במסגרת האפליקציה הנו הדין הישראלי בלבד. סמכות השיפוט בקשר עם תנאי השימוש זה ו/או בקשר עם האפליקציה מוקנית לבית המשפט המוסמך בתל אביב יפו.

</p>


</div>