<script type="text/x-jqote-template" id="songLITemplate">
<![CDATA[
<li>
    <a href="javascript:void(0);">
        <img src="<*=this.thumbnail*>"/>
        <*=this.title*>
    </a>
</li>
]]>
</script>