@using Resources = Kululu.Web.App_GlobalResources
<div id="footer" class="clearfix">
    <span class="legalNotice" >@Resources.Strings.allRightsReserved</span>
    <a class="web" href="https://www.kulu.lu" target="_blank">kulu.lu</a>
</div>
