@{
    Layout = null;
    ViewBag.Title = "BrowserNotSupported";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        We're sorry, your browser is not supported.
    </h2>
</body>
</html>
