@{
    Layout = null;
    ViewBag.Title = "ComeBackLater";
}

<!DOCTYPE html>
<html>
<head>
    <title>Come Back Later</title>
</head>
<body>
    <h2>Come Back Later</h2>
</body>
</html>

